<%- include('./partials/header') %>

<div class="container">
	<div class="row">
		<div class="col-md-6 mx-auto mt-5">
			<div class="card p-2">
				<h4 class="text-center">Fastest SMS Delivery</h4>
				<div class="msg"></div>
				<form>
					<div class="form-group">
						<label for="phone">Phone</label>
						<input placeholder="01773551899" id="phone" class="form-control" />
					</div>
					<div class="form-group">
						<label for="Body">Body</label>
						<textarea
							class="form-control"
							id="body"
							cols="30"
							rows="3"
						></textarea>
					</div>
					<button id="send" style="width: 100%" class="btn btn-secondary mt-2">
						Send
					</button>
				</form>
			</div>
		</div>
	</div>
</div>

<script>
	document.getElementById("send").addEventListener("click", (e) => {
		e.preventDefault();
		let number = document.querySelector("#phone").value;
		let body = document.querySelector("#body").value;
		let msg = document.querySelector(".msg");
		if (number === "") {
			msg.innerHTML = `<div class="alert alert-danger">Phone ?</div>`;
		} else if (body === "") {
			msg.innerHTML = `<div class="alert alert-danger">body ?</div>`;
		} else {
			document.querySelector("#phone").value = "";
			document.querySelector("#body").value = "";
			socket.emit("message", {
				number,
				body,
			});
		}
	});

	socket.on("all", (data) => {
		console.log(data);
	});

	socket.on("sender", (data) => {
		console.log(data);
	});
</script>
